.simulation-card-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 20px 16px;
    width: 368px;
    min-height: 500px;
    border-radius: 16px;
    background-color: #f1f2f7;
}

.simulation-card-hashlink {
    text-decoration: none;
}

.simulation-card-hashlink:hover {
    cursor: pointer;
    opacity: 60%;
}

.simulation-card-container img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 12px;
}

.simulation-card-container h4 {
    margin-left: 25px;
    margin-right: 50px;
}

.simulation-card-container p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0px 25px 30px;
}

.simulation-card-container .check-back-icon {
    margin: auto 30px 30px auto;
    bottom: 10px;
    width: 100px;
}