.simulation-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  width: 31%;
  min-height: 500px;
  text-decoration: none;
  border-radius: 16px;
  padding: 0.25em;
  margin-bottom: 1.5em;
  background-color: #f1f2f7;
}

.simulation-card:hover {
  cursor: pointer;
  opacity: 60%;
}

.simulation-card img {
  width: 100%;
  border-radius: 14px;
}

.simulation-card-content {
  margin: 0 0.8em;
}

.simulation-card-content h3 {
  margin-bottom: 0.4em;
}

.simulation-card-content p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.simulation-card-description {
  margin: -0.5em 0 1em;
}

.no-link-h3 {
  margin: 0.8em;
}

.no-link:hover {
  cursor: default;
  opacity: 100%;
}

.simulation-card .check-back-icon {
  margin: auto 30px 30px auto;
  bottom: 10px;
  width: 100px;
}

@media (max-width: 960px) {
  .simulation-card {
    width: 48%;
  }
}

@media (max-width: 700px) {
  .simulation-card {
    width: 100%;
    min-height: 250px;
  }
}
