.hero-section {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 360px;
}

.hero-tagline {
  line-height: 5rem;
}

.hero-video {
  display: flex;
  justify-content: center;
  width: 55%;
  min-width: 580px;
  border-radius: 16px;
  overflow: hidden;
}

.hero-video video {
  width: 102%;
  margin: -0.5em;
  object-fit: cover;
}

@media (max-width: 960px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
  .hero-content {
    width: 90%;
    margin-bottom: 1.5em;
  }

  .hero-content p {
    text-align: center;
  }

  .hero-tagline {
    font-size: 3rem;
    line-height: 3.6rem;
    text-align: center;
    margin: 0.2em auto;
  }

  .hero-video {
    width: 90%;
    min-width: auto;
    border-radius: 8px;
  }
}
