.module-card-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 580px;
}

.module-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 8px;
    background-color: #f1f2f7;
}

.module-card-container h3 {
    margin: 15px 0px 10px;
}