.apps-main-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto 50px;
    padding: 20px 40px;
  }
  
  .apps-main-content-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    text-decoration: none;
    color: black;
  }